// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	padding-top: 50px;
}

.feet {
	background-color: black;
	color: white;
}

.product-row {
	padding: 10px 15px 0px 15px;
}