<p id="notice"><%= notice %></p>

<h1 class="products-header">PRODUCTS</h1>

<div class="container-fluid">
  <div class="row product-row">

    <% @products.each do |product| %>
      <% logger.debug "Products" %>

	      <% cache(cache_key_for_products) do %>
		      <div class="col-md-4">
		      <%= render product %>
		  <% end %>

      <% end %>
  </div>
</div>

<br><br><hr>

<br>

<%= link_to 'New Product', new_product_path %>