<p id="notice"><%= notice %></p>

<h1 class="products-header">PRODUCTS</h1>

<div class="container-fluid">
  <div class="row product-row">
    <% @products.each do |product| %>
      <div class="col-md-4">
      <%= render product %>
    <% end %>
  </div>
</div>

<br><br><hr>

<br>



<%= link_to 'New Product', new_product_path %>
